<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online.taxi.mapper.OrderMapper">
    <select id="selectByOrderId" resultType="com.online.taxi.dto.order.OrderDto">
		SELECT t1.*,t2.rule_id FROM tbl_order t1 INNER JOIN tbl_order_rule_mirror t2 ON t1.id=t2.order_id WHERE t1.id = #{id}
	</select>

    <select id="selectBeginningOrder" resultType="com.online.taxi.dto.order.OrderDto">
		SELECT
			t1.*,
			t2.driving_licence_number
		FROM
			tbl_order t1
			INNER JOIN tbl_driver_base_info t2 ON t1.driver_id = t2.id
		WHERE t1.id = #{id} AND t1.STATUS=2
	</select>

    <select id="selectCancelDetail" resultType="com.online.taxi.dto.order.OrderCancelDto">
        SELECT
            t1.*,
            t2.order_number
        FROM
            tbl_order_cancel_record t1
            INNER JOIN tbl_order t2 ON t1.order_id = t2.id
        WHERE t2.id = #{id}
    </select>
</mapper>
